@page "/calendar"
@using System.Linq;
@using System.Text.Json;

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

<button @onclick="() => { MonthCounter --; CreateMonth(); }">PrevMonth</button>
<h2>@monthName @monthStart.Year</h2>
<button @onclick="() => { MonthCounter ++; CreateMonth(); }">NextMonth</button>

<section>

    @for (int i = 0; i < numDummyCol; i++)
    {
        <div>Dummy @((DayOfWeek)i+1)</div>
    }

    @for(int i = 1; i <= monthEnd.Day; i++)
    {
        List<DTOCalendarEntry> itemList = Items.Where(x => x.Date.Year == CurrentYear && x.Date.Month == CurrentMonth && x.Date.Day == i).ToList();
        itemList.ForEach(x => Console.WriteLine(x.Name + " " + x.Date));

        <div>
            <h4>@i;</h4>
            @foreach(var y in itemList)
            {
                <p>@y.Name;</p>
                <p>@y.Date.Hour;</p>
                
                @if (y.TagList != null && y.TagList.Any())
                {
                    <ul>
                        @foreach (var l in y.TagList)
                        {
                            <li>@l.Name</li>
                        }
                    </ul>
                }
            }
        </div>
    }

</section>

@code{
    [Inject] HttpClient Http { get; set; } = null;

    string monthName = null!;
    int numDummyCol = 0;
    DateTime monthEnd;
    DateTime monthStart;
    int CurrentMonth;
    int CurrentYear;
    int MonthCounter = 0;

    List<DTOCalendarEntry> Items = new List<DTOCalendarEntry>();

    protected override async Task OnInitializedAsync()
    {

        var result = await Http.GetAsync("CalendarEntry");
        var tmpList = (await result.Content.ReadFromJsonAsync<IEnumerable<DTOCalendarEntry>>(Program.defaultJsonSerializerOptions))?.ToList();
        Console.WriteLine(String.Join(Environment.NewLine,tmpList));
        this.Items = tmpList;
        CreateMonth();
        base.OnInitialized();
    }


    void CreateMonth()
    {
        DateTime tempDate = DateTime.Now.AddMonths(MonthCounter);
        CurrentMonth = tempDate.Month;
        CurrentYear = tempDate.Year;

        monthStart = new DateTime(CurrentYear, CurrentMonth, 1);
        monthEnd = monthStart.AddMonths(1).AddDays(-1);

        monthName = monthStart.Month switch
        {
            1 => "January",
            2 => "February",
            3 => "March",
            4 => "April",
            5 => "May",
            6 => "June",
            7 => "July",
            8 => "Autust",
            9 => "September",
            10 => "October",
            11 => "November",
            12 => "December",
            _ => "ERROR"
        };

        numDummyCol = ((int)monthStart.DayOfWeek)-1;
    }
}

