@page "/calendar"
@using System.Linq;
@using System.Text.Json;

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

<button @onclick="() => { MonthCounter --; CreateMonth(); }">PrevMonth</button>
<h2>@monthName @monthStart.Year</h2>
<button @onclick="() => { MonthCounter ++; CreateMonth(); }">NextMonth</button>

<section>

    @for (int i = 0; i < numDummyCol; i++)
    {
        <div>Dummy @((DayOfWeek)i+1)</div>
    }

    @for(int i = 1; i <= monthEnd.Day; i++)
    {
        List<DTOCalendarEntry> itemList = Items.Where(x => x.Date.Year == CurrentYear && x.Date.Month == CurrentMonth && x.Date.Day == i).ToList();
        itemList.ForEach(x => Console.WriteLine(x.Name + " " + x.Date));

        <div>
            <h4>@i;</h4>
            @foreach(var y in itemList)
            {
                <p>@y.Name;</p>
                <p>@y.Date.Hour;</p>
                
                @if (y.TagList != null && y.TagList.Any())
                {
                    <ul>
                        @foreach (var l in y.TagList)
                        {
                            <li>@l.Name</li>
                        }
                    </ul>
                }
            }
        </div>
    }

</section>


